<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>onlinebc_admin API RG.RU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"> -->

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="templates/index.css" /> -->
    <style>{{template "index.css"}}</style>

</head>

<body>
    <h1><span class="rgru"><span>RG.</span><span class="or">RU</span></span></h1>
    <h5>API Онлайн трансляций для бэкэнда</h4>
        <h4>GraphQL</h4>
        <ol>
            {{range $i, $r := .}}


            {{if eq .Path "/medium/{id}"}}<h4>REST</h4>{{end}}
            {{if eq .Path "/"}}<h4>Общие</h4>{{end}}
            {{if eq .Path "/broadcasts"}}<h4>API для фронтэнда</h4>{{end}}


            <li>
                <div class="comment">{{.Comment}}</div>
                <div><span class="param-name">Methods</span>{{range .Methods}}<span class="class-{{.}}">{{.}}</span>&nbsp;&nbsp;{{end}}</div>
                <div><span class="param-name">URL</span>{{.Path}}</div>
                <div><span class="param-name">test URL </span><input id="example{{$i}}" type="text" value="{{.Example}}"></div>
                <!-- enctype="multipart/form-data"  -->
                <form id="form{{$i}}" onsubmit="event.preventDefault();
                $(this).ajaxSubmit({
                    url: $('#example{{$i}}').val(), 
                    type: '{{index .Methods 0}}',
                    success: function(response) {$('#result{{$i}}').text(JSON.stringify(response, null,'  '));}
                });">
                    {{if .Params}}
                    <!-- <div>Параметры запроса:</div> -->
                    {{range .Params }}
                    {{if .Name}}
                    <div>
                        <span class="form-param-name">{{.Name}}</span>

                        {{if or (eq .Name "query") (eq .Name "variables") }}
                        <textarea name="{{.Name}}">{{.Test}}</textarea>
                        {{else}}
                        <input type="{{.Inptype}}" name="{{.Name}}" value="{{.Test}}">
                        {{end}}


                        &nbsp;&nbsp;<span class="param-comment">{{.Comment}}</span>
                    </div>
                    {{end}}
                    {{end}}
                    {{end}}
                    <div>
                        <span class="param-name"></span>
                        <input type="submit" value="TEST">
                    </div>

                </form>
            </li>
            <pre id="result{{$i}}"></pre>
            {{end}}
        </ol>
        <hr>
        <div class="comment">
            <a target="_blank" href="https://git.rgwork.ru/web/onlinebc_admin/tree/master">

                <svg width="24" height="24" class="gitlab-logo" viewBox="0 0 36 36">
                    <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                    <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                    <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                    <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                    <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                    <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                    <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
                </svg>
                &nbsp;&nbsp;Исходный код
            </a>
        </div>

        <script>

            $("textarea").each(function (textarea) {
                $(this).height($(this)[0].scrollHeight);
            });

        </script>
</body>

</html>