@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:400,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

body {
    margin: 30px;
}

a {
    text-decoration: none;
}

h4 {
    border-top: 1px solid silver;
    font-weight: bold;
}

h5 {
    font-weight:400;
}

.or {
    color: orangered;
}

.rgru {
    letter-spacing: -6px;
    font-family: 'Open Sans';
}



.comment {
    color: darkmagenta;
    /* background-color:rgb(236 ,236,236); */
    font-weight: 400;
    /* border-top: 1px solid darkmagenta; */
    font-size: 120%;
    margin-top: 20px;
}

/* .comment::first-letter {
    color:rgb(155,77,202);
    font-size: 140%;
    vertical-align: middle;
    font-weight: bold;
} */

/* .comment::first-line {
    font-weight: bold;
    color: black;
    font-size: 140%;
    display: inline-block;
} */

.comment > b {
    color: black;
    /* font-size: 120%; */
    min-width: 200px;
    display: inline-block;
    padding-right: 10px;
    /* display: block; */
}

.param-name {
    
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    color:black;
}

.form-param-name {
    /* padding-left: 10px; */
    min-width: 140px;
    display: inline-block;
    vertical-align: top;
    /* font-size: 90%; */
}




.param-comment {
    color: slategray;
    /* display: inline-block; */
    vertical-align: top;
    margin-bottom: 5px;
    /* font-size: 80%; */
}


.class-GET {
    color: green;
    font-weight: bold;
}

.class-HEAD {
    color: gray;
    font-weight: bold;

}

.class-DELETE {
    color: red;
    font-weight: bold;
}

.class-POST {
    color: blue;
    font-weight: bold;
}

.class-PUT {
    color: magenta;
    font-weight: bold;
}

input[type] {
    width: 200px ;
    margin-bottom: 2px;
    height: 24px;
    /* border-radius: 4px; */
    /* border: 1px solid rgb(209,209,209); */

}

input[type=number] {
   border-color: blueviolet;
   /* background-color:violet; */
   background-color: white;

}

input[type=text] {
    background-color: white;
 }
 


input[type=submit] {
    margin-top: 10px; 
    height: 38px;
}

input[type=button] {
    margin-top: 10px; 
    height: 38px;
    background-color: white;
    color: darkmagenta;
}





ol li {
    list-style-position: outside;
    /* margin-left: 1em; */
}

/* fix skeleton */
li {
    margin-bottom: 0;
    /* font-size: 100%; */
}
/* fix skeleton */
ol ol, ol ul, ul ol, ul ul {
    /* margin: 1.5rem 0 1.5rem 3rem; */
    font-size: 100%;
}

.gitlab-logo {
    vertical-align: middle;
    transform: scale(1.3, 1.3) rotate(-20deg);
}





form {
    flex: 1 1 ;
    padding: 0;
    margin: 0 !important;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid silver;
}  


textarea {
    width: 450px;
    /* width: 100%; */
    height: 10px;
    min-height: 1rem;
    margin-top: 4px;
    margin-bottom: 2px;
    resize: both;
    /* font-size: 80%; */
    color: darkmagenta;
    font-family: monospace;
    /* white-space: nowrap;   */
    overflow: auto;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: white;
}


pre {
    flex: 1 1 ;
    /* max-height: 600px; */
    width: 100% ;
    margin: 0;
    /* margin-top: 4px; */
    /* margin-bottom: 2px; */
    margin-left: 5px;
    resize: vertical;
    /* padding-left: 5px; */
    overflow: auto;
    font-size: 90%;
    border: 1px solid silver;
    border-radius: 8px;
    font-family: "Roboto Mono";
}


.content {
    border-width: 0px;
    margin-left: 20px;
}


.header {
    background-color: white;
    /* border: 0px solid transparent; */
    border: none;
    /* border-bottom: 1px solid silver;
    border-radius: 0px; */
    outline: 0;
}

.header-collapsed {
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid silver;
    border-radius: 0px;
    outline: 0;
}


input.form-param-name {
    width: 140px;
}

.path {
    color: gray;
    min-width: 150px;
    padding-right: 5px;
    display: inline-block;
}

.ui-widget {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    /* font-size: 1em; */
}